/*=====CSS RESET CODE START=====*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/*=====CSS RESET CODE END=====*/

body {
    margin-top: 5%;
}
span img button {
	display: inline;
	margin: auto 0;
}
/* +++TitleBar.jsx+++ */
.titleBar{
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: #111c44;
	color: #ffffff;
	box-sizing: border-box;
}

/* +part1: logo+ */
.logo {
	display: flex;
	flex:1;
}
.logo img {
	width: 35px;
	height: 35px;
}

/* +part2: title menu+ */
.titleMenu {
	display: flex;
	color: #ffffff;
	flex:3;
}

.item {
	display: flex;
	flex: 1;
}

.item span {
	margin-left: auto;
	margin-right: auto;
}

/* +part3: login button+ */
.userstat {
	display: flex;
	flex:1;
	justify-content: flex-end;
}

/* +++Proposal.jsx+++ */
.proposal{
	position: static;
	display: block;
	background-color: #000000;
}

#footer{
  padding: 3em 0em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
#footer a{
  color: #ffffff;
}
