<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ropeBridge:Myguest</title>
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style media="screen">
    #titleBar{
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      padding: 1em 0em;
      text-align: center;
      background-color: #ffffff;
      z-index: 1;
    }
    #sidepane {
      height: 100%;
      width: 20%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      background-color: #c9c9c9;
      text-align: center;
      font-size: 15pt;
      padding-top: 5em
    }
    #main {
      margin-left: 20%;
      padding: 3em 1em;
    }
    #footer{
      padding: 3em 0em;
      background-color: #000000;
      color: #ffffff;
      text-align: center;
    }
    #footer a{
      color: #ffffff;
    }
  </style>
  <body>
    <!--Component 4: My guest, after the login (Tour Guide)-->
    <!--Contents 1: title bar-->
    <div id="titleBar" class="ui segment">
      <div style="display:inline-block; width:40%;" align="left">
        <button class="ui button" name="logo">Logo</button>
      </div>
      <div style="display:inline-block; width:15%;">
        <h1><a href="../html/index.html" style="color:#000;">ropeBridge</a></h1>
      </div>
      <div style="display:inline-block; width:40%; font-size:15pt" align="right">
        <div style="display:inline-block; height:32px; width:32px; margin-left:auto; background-color:#000; border-radius:25px;"></div>
        &nbsp &nbsp Welcome, User
      </div>
    </div>

    <div id="sidepane" class="ui container">
      <div class="ui inverted circular segment" style="display:inline-block; height:128px; width:128px; margin-left:auto;"></div>
      <p style="font-size:18pt;font-weight:bold;">Tourguide Name</p>
      <p style="font-size:13pt;text-decoration:underline;"><a href="../html/mypage.html">My page</a></p>
      <p style="font-size:13pt;text-decoration:underline;"><a href="../html/catalog.html">Search Tour</a></p>

    </div>
    <div id="main" style="margin-top:3em;">
      <div id="daily_tour" style="margin-left: 5%; margin-right: 5%;">
        <h2>MMM dd, yyyy</h2>
        <div class="ui horizontal divider"><i class="calendar alternate outline icon"></i></div>
        <!--per each tour rapped by a day:on progress-->
        <div id="single_tour" class="ui segment" style="padding-right:3em;">
          <div class="ui grid">
            <div class="two wide column" align="center">
              <div class="ui inverted circular segment" style="height:72px; width:72px; margin-left:auto;">pic</div>
            </div>
            <div class="four wide column">
              <h3>Guest Name</h3>
              <p>MMM,dd yyyy to MMM,dd yyyy
              </br>00/Adults, 00/Children</p>
              <p>Status:</p>
              <button class="ui orange basic button" name="status" style="pointer-events:none;">On Progress</button>
            </div>
            <div class="eight wide column">
              <div class="ui horizontal divider">
                  <h4>Planned Activity</h4>
              </div>
              <div id="proposed_activity" class="ui segment">
                "user input text, list and list"
              </div>
              <div id="price_tag" class="ui two column grid">
                <div class="column" align="left">
                  <p style="font-size:18pt">Price: 75$<span style="font-size:12pt">/Tour</span></p>
                </div>
                <div class="column" align="right">
                  <button class="ui green button" name="change">negotiate</button>
                </div>
              </div>
            </div>
            <div class="two wide column" align="center">
              <button class="ui primary button" name="comment" style="width:96px;margin:8px;">Comment</button>
              </br><button class="ui button" name="cancel" style="width:96px;margin:8px;">Cancel</button>
            </div>
          </div>
        </div>

        <!--per each tour rapped by a day:approved-->
        <div id="single_tour" class="ui segment" style="padding-right:3em;">
          <div class="ui grid">
            <div class="two wide column" align="center">
              <div class="ui inverted circular segment" style="height:72px; width:72px; margin-left:auto;">pic</div>
            </div>
            <div class="four wide column">
              <h3>Guest Name</h3>
              <p>MMM,dd yyyy to MMM,dd yyyy
              </br>00/Adults, 00/Children</p>
              <p>Status:</p>
              <button class="ui green basic button" name="status" style="pointer-events:none;">Approved</button>
            </div>
            <div class="eight wide column">
              <div class="ui horizontal divider">
                  <h4>Planned Activity</h4>
              </div>
              <div id="proposed_activity" class="ui segment">
                "user input text, list and list"
              </div>
              <div id="price_tag">
                <p style="font-size:18pt">Price: 50$<span style="font-size:12pt">/Day</span></p>
              </div>
            </div>
            <div class="two wide column" align="center">
              <button class="ui primary button" name="comment" style="width:96px;margin:8px;">Connect</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Contents 5: Footer-->
    <div id="footer" class="footer">
      <a href="#">Move Top | </a>
      <a href="#">Contact us | </a>
      <a href="#">One more item</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
</html>
